<div class="wrapper">
  <h2 class="section-title">Contact me at:</h2>
  <br>
  <ul class="social-media-list">
    {%- if site.github -%}<li class="social-media-item"><a href="https://github.com/{{ site.github }}" target="_blank"><i class="fab fa-github-square"></i><span>{{ site.github | escape }}</span></a></li>{%- endif -%}
    {%- if site.email -%}<li class="social-media-item"><a href="mailto:{{ site.email }}" target="_blank"><i class="far fa-envelope"></i><span>{{ site.email | escape }}</span></a></li>{%- endif -%}
  </ul>
</div>
